.mypageInputBorder {
  width: 450px;
  height: 60px;
  margin-bottom: 30px;
  border: 0;
  border-bottom: 5px solid #667089;
  outline: none;
}

.mypageInputBorder:hover {
  border-bottom: 5px solid #5064c5;
}
