.mypageBlueBtn,
.mypagePinkBtn {
  width: 224px;
  height: 44px;
  cursor: pointer;
  background-color: #5064c5;
  border: 0;
  border-radius: 20px;
  outline: none;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  color: #fff;
}

.mypagePinkBtn {
  background-color: #cd2a82;
}
