.checkset{
    display: flex;
    width: 502px;
    height: 34px;
    margin-left: 15px;
    align-items: center;
    justify-content: center;
}

.checkset .checkbox{
    width: 24px;
    height: 24px;
    margin: 5px;
    background-color: white;
}

.checkset .checkboxtext{
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin-right: 24px;
    color: #8C93A6;
}