.homeall{ 
    display: flex;
}

.homeall .leftside .smallleft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 612px;
    height: 693px;
}

.linechart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 612px;
    height: 401px;
    background: #FFFFFF;
    border-radius: 20px;
    margin-bottom: 28px;
}

.homeall .leftside{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 720px;
    height: 890px;
}

.homeall .leftside .smallleft .boldtitle{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #000000;
    margin-bottom: 36px; 
}

.homeall .leftside .smallleft .donebox{
    width:100%;
    height: 113px;
    padding:0 70px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 23px;
}

.homeall .leftside .smallleft .donebox .done{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
} 

.homeall .leftside .smallleft .donebox .done .bluetitle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 207px;
    height: 44px;
    background: #5064C5;
    border-radius: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 13px;
}

.homeall .leftside .smallleft .donebox .done .bluenum{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    color: #5064C5;
}

.homeall .leftside .smallleft .donebox .done .blueper{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: #5064C5;
}

.homeall .leftside .smallleft .donebox .done .redtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 207px;
    height: 44px;
    background: #CD2A82;
    border-radius: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 13px;
}

.homeall .leftside .smallleft .donebox .done .rednum{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    color: #CD2A82;
}

.homeall .leftside .smallleft .donebox .done .redper{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: #CD2A82;
    
}

.homeall .mondaybtnset{
    width: 612px;
    height: 58px;
    background: #FFFFFF;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: none;
}

.homeall .locagebtnset{
    width: 612px;
    height: 58px;
    background: #FFFFFF;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.homeall .btnset .monweekday{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #000000;
    width: 188px;
    height: 44px;
    background: #DAD8E0;
    border-radius: 20px;
    border: none;
    margin: 7px 12px;
}

.homeall .rightside{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 720px;
    height: 890px;
    margin-left: auto;
}

.homeall .selectbutton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 293px;
    height: 44px;
    background: #DAD8E0;
    border-radius: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #000000;
    border: none;
    margin: auto;
}

.homeall .unselect{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 293px;
    height: 44px;
    background: #ffffff;
    border-radius: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #000000;
    border: none;
    margin: auto;
}

.tablechart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 612px;
    height: 615px;
    background: #FFFFFF;
    border-radius: 20px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    padding-top: 20px;
}

.tablechart::-webkit-scrollbar{
    display: none;
    width: 0 !important;
}

.tablechart .oneline
{
    display: flex;
    align-items: center;
    width: 550px;
    height: 61px;
    background-color: white;
    border-bottom: 2px solid #000000;
}

.tablechart .location{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 77px;
    height: 61px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    border-right: 2px solid #000000;
}

.tablechart .first{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 244px;
    height: 61px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    border-right: 2px solid #000000;
}

.tablechart .done{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 244px;
    height: 61px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    color: #000000;
}