.lookupSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 50px;
}

.lookupSection .listSection {
  display: flex;
  flex-direction: column;
  width: 451px;
  height: 624px;
  background-color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
}

.lookupSection .listSection::-webkit-scrollbar {
  width: 10px;
  border-radius: 30px;
}

.lookupSection .listSection::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 30px;
}

.lookupSection .listSection::-webkit-scrollbar-track {
  background-color: #f4f4f4;
  border-radius: 30px;
}

.lookupSection .medicalInquiry {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.lookupSection .medicalInquiry .totalNum {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 10px;
}

.lookupSection .medicalInquiry .searchContents {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.lookupSection .beforeSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1320px;
  height: 658px;
  background-color: #fff;
}

.lookupSection .beforeSearch .text,
.lookupSection .beforePick .text {
  font-size: 36px;
  color: #000;
}

.lookupSection .beforePick {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 838px;
  height: 624px;
  background-color: #fff;
}
