.noshow .leftside {
  width: 720px;
  height: 1034px;
  align-items: flex-end;
}

.noshow .head {
  width: 720px;
  height: 188px;
}

.noshow .checkbig {
  display: flex;
  align-items: center;
  width: 502px;
  height: 64px;
  left: 12px;
  background-color: white;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-bottom: 20px;
  z-index: 1500;
}

.noshow {
  display: flex;
  align-items: flex-end;
}

.noshow .hospitalListBox {
  width: 720px;
  height: 761px;
  overflow-y: scroll;
  -ms-overflow-style: none;
}

.noshow .hospitalListBox::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}

.noshow .mapBox {
  width: 720px;
  height: 1034px;
  background-color: bisque;
}

.noshow .mapMap {
  width: 720px;
  height: 100%;
}
