.reservationUnable {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-top: 50px;
}

.reservationUnable .whiteSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1103px;
  height: 389px;
  margin-top: 93px;
  margin-bottom: 40px;
  padding: 120px 225px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.whiteSection .text {
  color: #667089;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0em;
  text-align: center;
}

.reservationUnable .residual {
  width: 335px;
  height: 70px;
  padding: 23px;
  margin: 0;
  cursor: pointer;
  border: 0;
  border-radius: 30px;
  background-color: #cd2a82;
  outline: none;
}

.residual .text {
  color: #fff;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}
