.reservationComplete {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-top: 50px;
}

.reservationComplete .whiteSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;
  padding: 65px 107px 83px;
  width: 701px;
  height: 613px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.reservationComplete .whiteSection .nameSection {
  display: block;
}

.reservationComplete .whiteSection .name {
  color: #667089;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0em;
  text-align: center;
}

.reservationComplete .whiteSection .text {
  color: #667089;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0em;
  text-align: center;
}

.reservationComplete .whiteSection .text2 {
  color: #667089;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 31px;
}

.reservationComplete .whiteSection .infoSection {
  width: 487px;
}

.reservationComplete .whiteSection .guide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97px;
  height: 41px;
  border-radius: 30px;
  background-color: #5064c5;
  margin-bottom: 11px;
}

.reservationComplete .whiteSection .guide .text {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1875;
  letter-spacing: 0em;
  text-align: center;
}

.reservationComplete .whiteSection .tableSection {
  width: 487px;
  height: 320px;
  border-collapse: collapse;
  border-radius: 20px;
  text-align: center;
  border-style: hidden;
  box-shadow: 0 0 0 1px #667089;
}

.tableSection tr {
  border-bottom: 1px solid #667089;
}

.tableSection td {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: 0em;
  border-right: 1px solid #667089;
}

.pinkBtn {
  width: 292px;
  height: 70px;
  cursor: pointer;
  background-color: #cd2a82;
  border: 0;
  border-radius: 30px;
  outline: none;
}

.pinkBtn .btnText {
  color: #fff;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0em;
  text-align: center;
}
