.reservationContent {
  width: 1103px;
  height: 100%;
  padding-top: 50px;
}

.reservationContent .whiteSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 1103px;
  height: 487px;
  margin-top: 91px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.reservationContent .whiteSection .content {
  margin-bottom: 20px;
  margin-top: 60px;
  color: #667089;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0em;
  text-align: center;
}

.reservationContent .inputBox {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin: 0 auto;
}

.reservationContent .btn {
  width: 335px;
  height: 70px;
  cursor: pointer;
  border: 0;
  border-radius: 20px;
  background-color: #5064c5;
  outline: none;
  margin-bottom: 40px;
}

.reservationContent .btn .text {
  color: #fff;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
}
