.easyCheck {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 1033px;
  height: 502px;
  padding: 62px 144px 62px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
}

.easyCheck .title {
  color: #667089;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
}

.easyCheck .inputBox {
  display: flex;
  width: 450px;
  height: 60px;
  border: 0;
  border-bottom: 5px solid #dad8e0;
  border-radius: 0px;
  align-items: center;
}

.easyCheck .inputBox:hover {
  border-bottom: 5px solid #5064c5;
}

.easyCheck .inputBox::placeholder {
  color: #dad8e0;
  font-family: Noto Sans KR;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.44;
  text-align: left;
}

.easyCheck .btn {
  width: 298px;
  height: 61px;
  color: #fff;
  background-color: #5064c5;
  border-radius: 20px;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1875;
  text-align: center;
}

.easyCheck .resultbox{
  display: flex;
  width: 660px;
  align-items: center;
  justify-content: center;
}

.easyCheck .resultname{
  color: #737373;
  font-family: Noto Sans KR;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.44;
  text-align: left;
  width: 120px;
}

.easyCheck .result {
  display: flex;
  width: 450px;
  height: 30px;
  border: 0;
  border-bottom: 2px solid #dad8e0;
  border-radius: 0px;
  align-items: center;
}