.visualline 
{
}

.visualline .oneline
{
    display: flex;
    align-items: center;
    width: 550px;
    height: 61px;
    background-color: white;
    border-bottom: 2px solid #000000;
}

.visualline .oneline .location{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 77px;
    height: 61px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    border-right: 2px solid #000000;
}

.visualline .oneline .first{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 244px;
    height: 61px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    border-right: 2px solid #000000;
}

.visualline .oneline .done{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 244px;
    height: 61px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;
}