.authBtnSet .authBtn-text,
.authBtnSet .line {
  margin: 0;
  font-family: Noto Sans KR;
  font-size: 20px;
  font-style: medium;
  font-weight: 500;
  /* line-height: 1.4375; */
  text-align: center;
  color: #000000;
}

.authBtnSet .line {
  font-size: 20px;
}

.authBtn-link {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  outline: none;
  text-decoration: none;
  text-decoration-line: none;
}

.authBtnSet {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
