.menuBtn-text {
  margin: 0;
  font-family: Roboto;
  font-size: 36px;
  font-style: bold;
  text-align: center;
  color: #000000;
  margin: 0;
}

.menuBtn-link {
  text-decoration: none;
  text-decoration-line: none;
}

.menuBtnSet {
  display: flex;
  width: 935px;
  justify-content: space-around;
}
